
h1 {
	
	font-size: 50px;
}

.show-anim {
	position: relative;
	display: inline;
	animation: rev-show-main 1s ease forwards;
}

.show-anim:after {
	content: " ";
	position: absolute;
	animation: rev-show-block 1s ease forwards;
	background: rgb(5, 27, 38);
	left: 0%;
	top: 0%;
	width: 0%;
	height: 100%;
}

@keyframes rev-show-main {
	0% {color: transparent;}
	49% {color: transparent;}
	50% {color:rgb(5, 27, 38);}
}

@keyframes rev-show-block {
	0% {
		left: 0%;
		width: 0%;
	}
	
	50% {
		left: 0%;
		width: 100%;
	}
	
	100% {
		left: 100%;
		width: 0%;
	}
}